:root{
    --tablet-title-font-size: 35px;
    --tablet-title-line-height: 40px;
    --tablet-secondary-title-font-size: 26px;
    --tablet-secondary-title-line-height: 35px;
    --tablet-extra-larger-text-font-size: 20px;
    --tablet-extra-larger-text-line-height: 24px;
    --tablet-larger-text-font-size: 14px;
    --tablet-larger-text-line-height: 16px;
    --tablet-standard-text-font-size: 13px;
    --tablet-standard-text-line-height: 15px;

    --mobile-title-font-size: 20px;
    --mobile-title-line-height: 25px;
    --mobile-secondary-title-font-size: 19px;
    --mobile-secondary-title-line-height: 22px;
    --mobile-extra-larger-text-font-size: 18px;
    --mobile-extra-larger-text-line-height: 20px;
    --mobile-larger-text-font-size: 12px;
    --mobile-larger-text-line-height: 14px;
    --mobile-standard-text-font-size: 10px;
    --mobile-standard-text-line-height: 12px;
    --primary-red:#ff1900; 
    --primary-gray: #7f8d98e8;
}
@media(max-width: 1200px){
    /* for header> */
    .header-nav-socials{
        column-gap: 15px;
    }
    /* <for header */
    /* for contact section> */
    .contact-right-part{
        width: 55%;
    }
    /* <for contact section */
}
@media(max-width: 1024px){
    /* for common tags> */
    .title-size{
        font-size: var(--tablet-title-font-size);
        line-height: var(--tablet-title-line-height);
    }
    .extra-larger-text-size{
        font-size: var(--tablet-extra-larger-text-font-size);
        line-height: var(--tablet-extra-larger-text-line-height);
    }
    .larger-text-size{
        font-size: var(--tablet-larger-text-font-size);
        line-height: var(--tablet-larger-text-line-height);
    }
    .larger-regular-text-size{
        font-size: var(--tablet-larger-text-font-size);
        line-height: var(--tablet-larger-text-line-height);
    }
    .standard-text-size{
        font-size: var(--tablet-standard-text-font-size);
        line-height: var(--tablet-standard-text-line-height);
    }
    .secondary-title-text-size{
        font-size: var(--tablet-secondary-title-font-size);
        line-height: var(--tablet-secondary-title-line-height);
    }
    /* <for common tags */
    /* for header> */
    .left-header{
        height:auto;
        width: 100%;
        position: sticky;
        padding: 30px 0;
        border-bottom: 2px solid var(--primary-text-color);
    }
    .header-profile-part{
        row-gap: 8px;
    }
    .header-profile-part img{
        display: none;
    }
    .left-header-nav{
        width: 90%;
        flex-direction: row;
    }
    .header-nav-ul{
        height: max-content;
        position: absolute;
        left: 0;
        bottom: 100%;
        align-items: flex-start;
        row-gap: 1.8vh;
        padding: 2vw 0 2vw 5vw;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        background-color: rgba(128, 128, 128, 0.5);
        backdrop-filter: blur(10px);
    }
    .header-nav-ul li{
        width: 90%;
        text-align: left;
    }
    .header-nav-ul li:not(:last-child){
        border-bottom: 1px solid var(--primary-text-color);
    }
    .header-nav-ul li:hover{
        border-color: var(--primary-red);
    }
    .header-nav-ul.header-nav-ul-active{
        opacity: 1;
        bottom: 0;
        transform: translateY(100%);
        transition: all 0.3s ease-in-out;
    }
    .header-bottom-wrapper{
        column-gap: 40px;
    }
    .header-nav-socials{
        column-gap: 4vw;
    }
    .burger-menu{
        display: flex;
        width: 40px;
        background-color: transparent;
        row-gap: 8px;
        cursor: pointer;
        border: none;
    }
    .burger-menu .line{
        width: 100%;
        height: 4px;
        background-color: var(--primary-text-color);
    }
    /* <for header */
    /* for main stream> */
    /* for introduction section> */
    .main-stream{
        width: 100%;
    }
    .introduction-section{
        height: 100vh;
    }
    .typing-text-open-window{
        height: var(--tablet-title-line-height);
    }
    /* <for introduction section */
    /* for my works section> */
    .my-works-list{
        grid-template-columns: repeat(2, 1fr);
    }
    /* <for my works section */
    /* for contact section> */
    .contact-right-part{
        width: 60%;
    }
    /* <for main stream */
}
@media(max-width: 768px){
    /* for common tags> */
    .common-section{
        padding: 90px 0;
    }
    /* <for common tags */
    /* for about me section> */
    .about-me-section-middle-wrapper{
        flex-direction: column;
        row-gap: 3vh;
        align-items: center;
    }
    .about-me-section-middle-wrapper .texts{
        width: 100%;
        align-items: center;
    }
    .about-me-section-middle-wrapper .texts p{
        text-align: center;
    }
    .about-me-ul{
        width: 100%;
    }
    .about-me-section-bottom-wrapper{
        grid-template-columns: repeat(2, 50%);
        gap: 2vh 0;
    }
    .about-me-section-bottom-wrapper .about-me-static:nth-child(2){
        border: none;
    }
    /* <for about me section */
    /* for resume section> */
    .resume-middle-wrapper{
        grid-template-columns: 1fr;
        row-gap: 5%;
    }
    .resume-card{
        box-shadow: none;
        padding: 1.3em;
    }
    .resume-skills-wrapper{
        grid-template-columns: 1fr;
    }
    /* <for resume section */
    /* for my works section> */
    .my-works-nav{
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
    }
    .my-works-list{
        grid-template-columns: repeat(2, 1fr);
    }
    /* <for my works section */
    /* for contact section> */
    .contact-middle-wrapper{
        flex-direction: column-reverse;
        row-gap: 3vh;
        align-items: center;
    }
    .contact-right-part{
        width: 100%;
    }
    .contact-inputs-wrapper input{
        width: 100%;
    }
    .addresses, .follow-me{
        align-items: center;
    }
    .addresses li, .follow-me li{
        justify-content: center;
    }
    /* <for contact section */
    /* for footer> */
    .footer-content{
        flex-direction: column;
        align-items: center;
        row-gap: 2em;
    }
    /* <for footer */
}
@media(max-width: 500px){
    /* for common tags> */
    .header-nav-socials{
        display: none;
    }
    .title-size{
        font-size: var(--mobile-title-font-size);
        line-height: var(--mobile-title-line-height);
    }
    .extra-larger-text-size{
        font-size: var(--mobile-extra-larger-text-font-size);
        line-height: var(--mobile-extra-larger-text-line-height);
    }
    .larger-text-size{
        font-size: var(--mobile-larger-text-font-size);
        line-height: var(--mobile-larger-text-line-height);
    }
    .larger-regular-text-size{
        font-size: var(--mobile-larger-text-font-size);
        line-height: var(--mobile-larger-text-line-height);
    }
    .standard-text-size{
        font-size: var(--mobile-standard-text-font-size);
        line-height: var(--mobile-standard-text-line-height);
    }
    .secondary-title-text-size{
        font-size: var(--mobile-secondary-title-font-size);
        line-height: var(--mobile-secondary-title-line-height);
    }
    .common-title::before{
        font-size: 2em;
    }
    /* <for common tags> */
    /* for header> */
    .header-nav-socials-li.active{
        margin-top: 0.6em;
        display: block;
    }
    .header-nav-socials.active{
        display: flex;
    }
    .header-nav-socials.active{
        width: 100%;
        justify-content: space-around;
    }
    .header-nav-socials.active li{
        width: max-content;
        border-bottom: 1px solid var(--primary-red);
    }
    .header-icon-description{
        top: -20px;
    }
    /* <for header */
    /* for introduction section> */
    .typing-text-open-window{
        overflow: hidden;
        height: var(--mobile-title-line-height);
    }
    /* <for introduction section */
    /* for contact section> */
    .contact-inputs-wrapper{
       grid-template: repeat(2, min-content) 3fr / 1fr;
       column-gap: 0;
    }
    .contact-inputs-wrapper input{
        width: 100%;
    }
    .contact-inputs-wrapper input:nth-child(2){
        grid-row: 2 / 3;
    }
    /* <for contact section */
}