:root{
    --title-font-size: 50px;
    --title-line-height: 55px;
    --secondary-title-font-size: 35px;
    --secondary-title-line-height: 40px;
    --extra-larger-text-font-size: 23px;
    --extra-larger-text-line-height: 28px;
    --larger-text-font-size: 20px;
    --larger-text-line-height: 25px;
    --standard-text-font-size: 14px;
    --standard-text-line-height: 16px;
    --primary-red:#ff1900; 
    --primary-text-color: whitesmoke;
    --first-type-section-background-color: #212529;
    --primary-gray: #7f8d98e8;
    --common-title-background-text-color: #6d767e66;
}
/* my library> */
.display-flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items:center;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.text-align-center{
    text-align: center; 
}
.primary-gray{
    color: var(--primary-gray);
}
/* <my linrary */
/* for common classes> */
.title-size{
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    font-family:'andada-extra-bold';
    color: var(--primary-text-color);
}
.extra-larger-text-size{
    font-size: var(--extra-larger-text-font-size);
    line-height: var(--extra-larger-text-line-height);
    font-family:'andada-semibold';
    color: var(--primary-text-color);
}
.larger-text-size{
    font-size: var(--larger-text-font-size);
    line-height: var(--larger-text-line-height);
    font-family:'andada-semibold';
    color: var(--primary-text-color);
}
.larger-regular-text-size{
    font-size: var(--larger-text-font-size);
    line-height: var(--larger-text-line-height);
    font-family:'rufina-regular';
    color: var(--primary-text-color);
}
.standard-text-size{
    font-size: var(--standard-text-font-size);
    line-height: var(--standard-text-line-height);
    font-family:'rufina-regular';
    color: var(--primary-text-color);
}
.secondary-title-text-size{
    font-size: var(--secondary-title-font-size);
    line-height: var(--secondary-title-line-height);
    color: var(--primary-text-color);
}
.red{
    color: var(--primary-red);
}
.left-header .larger-text-size .scroll-indicator .red{
    color: var(--primary-red);
}
.flex-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common-white-text-shadow{
    text-shadow: 0 0 5px var(--primary-text-color);
}
.common-red-text-shadow{
    text-shadow: 0 0 px var(--primary-red);
}
.common-section{
    color: var(--primary-text-color);
    padding: 120px 0;
}
.common-title{
    position: relative;
    z-index: 0;
    text-align: center;
}
.common-title::before{
    content: 'ABOUT ME';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--common-title-background-text-color);
    width: max-content;
    font-size: 2.2em;
    z-index: -1;
}
.common-title::after{
    content: '';
    position: absolute;
    bottom: -0.1em;
    left: 50%;
    transform: translateX(-50%);
    width: 3em;
    height: 0.1em;
    background-color: var(--primary-red);
}
.width-100{
    width: 100%;
}
.common-bottom-line{
    border-bottom: 1px solid var(--common-title-background-text-color);
}
.common-paragraph{
    margin-top: 2vh;
}
.red-common-button{
    padding: 0.7em 1.5em;
    border-radius: 30px;
    background-color: var(--primary-gray);
    border: 2px solid var(--primary-text-color);
    cursor: pointer;
    transition: all 0.3s linear;
}
.red-common-button:hover{
    background-color: var(--primary-red);
    border: 2px solid var(--primary-gray);
}
/* <for common classes */
/* for left header> */
.left-header{
    height: 100vh;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 35px 0 25px 0;
    background-color: rgb(20, 20, 20);
    z-index: 10;
}
.left-header .title-size,.left-header .extra-larger-text-size,.left-header .larger-text-size,.left-meheadernu .standard-text-size{
    transition: all 0.2s ease-out;
}
.left-header .title-size:hover,.left-header .extra-larger-text-size:hover,.left-header .larger-text-size:hover,.left-header .standard-text-size:hover{
    color: var(--primary-red);
}
.left-header-nav{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-direction:column;
}
.header-profile-part{
    row-gap: 20px;
}
.header-profile-part img{
    width: 75%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 7px solid rgb(118, 125, 137);
}
.header-nav-ul{
    width: 100%;
    height: 42%;
    padding: 30px 0;
    border-top: 2px solid var(--primary-red);
    border-bottom: 2px solid var(--primary-red);
}
.header-nav-socials{
    column-gap: 20px;
}
.header-nav-socials svg{
    transition: all 0.2s ease-out;
}
.header-nav-socials li{
    position: relative;
}
.header-icon-description{
    opacity: 0;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    color: var(--primary-red);
    background-color: inherit;
    transition: all 0.2s ease-out;
}
.header-nav-socials li:hover .header-icon-description{
    opacity: 1;
}
.header-nav-socials svg:hover{
    transform: scale(1.2);
    fill: var(--primary-red);
}
.burger-menu{
    display: none;
}
.header-nav-socials-li.active, .header-nav-socials.active{
    display: none;
}
/* <for left  header */
/* for stream section> */
.main-stream{
    width: 82%;
    margin-left:auto;
    z-index: 5;
}
.introduction-section{
    height: 100vh;
    position: relative;
    background-image: url("../images/introduction-images/introduction-background-color.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.introduction-texts-wrapper{
    row-gap: 35px;
    transform:translateY(-3vh);
}
.typing-text-open-window{
    height: var(--title-line-height);
    overflow: hidden;
}
.typing-texts-ul{
    margin-left: 10px;
    row-gap: 2px;
    overflow: hidden;
    animation: typing-text-alter 12s steps(2, end) infinite backwards paused;
}
.typing-text{
    width: 0;
    white-space:nowrap;
    overflow: hidden;
    border-right: 5px solid var(--primary-text-color);
    animation: typing-animation 3s steps(20, end) infinite alternate paused, cursor-animation 0.7s infinite normal forwards paused;
}
.introduction-down-arrow{
    height: 90px;
    position: absolute;
    bottom: 5vh;
    background-color: inherit;
    cursor: pointer;
}
.introduction-down-arrow svg{
    fill:  var(--primary-text-color);
    animation: introduction-section-down-arrow-animation 1.5s ease-in-out infinite paused;
}
/* <for stream section */
/* for about me section> */
.common-section.others{
    height: 80vh;
    background-color: skyblue;
    border: 5px solid black;
}
.first-type-section{
    background-color: var(--first-type-section-background-color);
}
.about-me-section{
    row-gap: 8vh;
}
.about-me-section-middle-wrapper .texts{
    width: 60%;
    row-gap: 2.5vh;
}
.about-me-ul{
    width: 32%;
}
.about-me-li{
    padding: 0.7em;
    column-gap: 5px;
}
/* <for about me section */
/* for animations> */
@keyframes introduction-section-down-arrow-animation{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        fill: var(--primary-red);
        transform: translateY(60px);
    }
}
@keyframes typing-animation{
    from{
        width: 0;
    }
    to{
        width: 107%;
    }
}
@keyframes cursor-animation{
    0%{
        border-color: var(--primary-text-color);
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: var(--primary-text-color);
    }
}
@keyframes typing-text-alter{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}
/* <for animations */