:root{
    --title-font-size: 50px;
    --title-line-height: 55px;
    --secondary-title-font-size: 35px;
    --secondary-title-line-height: 40px;
    --extra-larger-text-font-size: 23px;
    --extra-larger-text-line-height: 28px;
    --larger-text-font-size: 20px;
    --larger-text-line-height: 25px;
    --standard-text-font-size: 14px;
    --standard-text-line-height: 20px;
    --primary-red:#ff1900; 
    --primary-text-color: whitesmoke;
    --first-type-section-background-color: #212529;
    --second-type-section-background-color: #343a40;
    --primary-gray: #7f8d98e8;
    --common-title-background-text-color: #6d767e66;
    --resume-card-background-color: #171c20;
}
/* my library> */
.display-flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items:center;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.text-align-center{
    text-align: center; 
}
.display-grid{
    display: grid;
}
/* <my linrary */
/* for common classes> */
.title-size{
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    font-family:'andada-extra-bold';
    color: var(--primary-text-color);
}
.extra-larger-text-size{
    font-size: var(--extra-larger-text-font-size);
    line-height: var(--extra-larger-text-line-height);
    font-family:'andada-semibold';
    color: var(--primary-text-color);
}
.larger-text-size{
    font-size: var(--larger-text-font-size);
    line-height: var(--larger-text-line-height);
    font-family:'andada-semibold';
    color: var(--primary-text-color);
}
.larger-regular-text-size{
    font-size: var(--larger-text-font-size);
    line-height: var(--larger-text-line-height);
    font-family:'rufina-regular';
    color: var(--primary-text-color);
}
.standard-text-size{
    font-size: var(--standard-text-font-size);
    line-height: var(--standard-text-line-height);
    font-family:'rufina-regular';
    color: var(--primary-text-color);
}
.secondary-title-text-size{
    font-size: var(--secondary-title-font-size);
    line-height: var(--secondary-title-line-height);
    color: var(--primary-text-color);
}
.red{
    color: var(--primary-red);
}
.primary-gray{
    color: var(--primary-gray);
}
.left-header .larger-text-size .scroll-indicator .red{
    color: var(--primary-red);
}
.primary-container{
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}
.flex-container{
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common-white-text-shadow{
    text-shadow: 0 0 5px var(--primary-text-color);
}
.common-red-text-shadow{
    text-shadow: 0 0 0 var(--primary-red);
}
.common-dark-text-shadow{
    text-shadow: 0 0 0 var(--first-type-section-background-color) 
}
.common-section{
    color: var(--primary-text-color);
    padding: 110px 0;
}
.common-section-row-gap{
    row-gap: 10vh;
}
.common-title{
    position: relative;
    z-index: 0;
    text-align: center;
}
.common-title::before{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--common-title-background-text-color);
    width: max-content;
    font-size: 2.2em;
    z-index: -1;
}
.common-section:nth-child(2) .common-title::before{
    content: 'ABOUT ME';
}
.common-section:nth-child(3) .common-title::before{
    content: 'SUMMARY';
}
.common-section:nth-child(4) .common-title::before{
    content: 'PORTFOLIO';
}
.common-section:nth-child(5) .common-title::before{
    content: 'CONTACT';
}
.common-title::after{
    content: '';
    position: absolute;
    bottom: -0.1em;
    left: 50%;
    transform: translateX(-50%);
    width: 3em;
    height: 0.1em;
    background-color: var(--primary-red);
    border-radius: 5px;
}
.width-100{
    width: 100%;
}
.common-bottom-line{
    border-bottom: 1px solid var(--common-title-background-text-color);
}
.common-red-bottom-line{
    border-bottom: 1px solid var(--primary-red);
}
.common-right-line{
    border-right: 1px solid var(--common-title-background-text-color);
}
.common-paragraph{
    margin-top: 2vh;
}
.red-common-button{
    padding: 0.7em 1.5em;
    border-radius: 30px;
    background-color: var(--primary-gray);
    border: 2px solid var(--primary-text-color);
    cursor: pointer;
    transition: all 0.3s linear;
    align-self: center;
}
.red-common-button:hover{
    background-color: var(--primary-red);
    border: 2px solid var(--primary-gray);
}
.first-type-section{
    background-color: var(--first-type-section-background-color);
}
.second-type-section{
    background-color: var(--second-type-section-background-color);
}
/* <for common classes */
/* for left header> */
.left-header{
    height: 100vh;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 35px 0 25px 0;
    background-color: rgb(20, 20, 20);
    z-index: 10;
}
.left-header .title-size,.left-header .extra-larger-text-size,.left-header .larger-text-size,.left-meheadernu .standard-text-size{
    transition: all 0.2s ease-out;
}
.left-header .title-size:hover,.left-header .extra-larger-text-size:hover,.left-header .larger-text-size:hover,.left-header .standard-text-size:hover{
    color: var(--primary-red);
}
.left-header-nav{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-direction:column;
}
.header-profile-part{
    row-gap: 20px;
}
.header-profile-part img{
    width: 75%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 7px solid rgb(118, 125, 137);
}
.header-nav-ul{
    width: 100%;
    height: 42%;
    padding: 30px 0;
    border-top: 2px solid var(--primary-red);
    border-bottom: 2px solid var(--primary-red);
}
.header-nav-socials{
    column-gap: 20px;
}
svg{
    transition: all 0.2s ease-out;
}
.header-nav-socials li{
    position: relative;
}
.header-icon-description{
    opacity: 0;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    color: var(--primary-red);
    background-color: inherit;
    transition: all 0.2s ease-out;
}
.header-nav-socials li:hover .header-icon-description{
    opacity: 1;
}
.header-nav-socials li:hover svg{
    transform: scale(1.2);
    fill: var(--primary-red);
}
.burger-menu{
    display: none;
}
.header-nav-socials-li.active, .header-nav-socials.active{
    display: none;
}
/* <for left  header */
/* for stream section> */
.main-stream{
    width: 82%;
    margin-left:auto;
    z-index: 5;
}
.introduction-section{
    height: 100vh;
    position: relative;
    background-image: url("../images/introduction-images/introduction-background-color.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.introduction-texts-wrapper{
    row-gap: 35px;
    transform:translateY(-3vh);
}
.typing-text-open-window{
    height: var(--title-line-height);
    overflow: hidden;
}
.typing-texts-ul{
    margin-left: 10px;
    row-gap: 2px;
    overflow: hidden;
    animation: typing-text-alter 12s steps(2, end) infinite backwards paused;
}
.typing-text{
    width: 0;
    white-space:nowrap;
    overflow: hidden;
    border-right: 5px solid var(--primary-text-color);
    animation: typing-animation 3s steps(20, end) infinite alternate paused, cursor-animation 0.7s infinite normal forwards paused;
}
.introduction-down-arrow{
    height: 90px;
    position: absolute;
    bottom: 5vh;
    background-color: inherit;
    cursor: pointer;
}
.introduction-down-arrow svg{
    fill:  var(--primary-text-color);
    animation: introduction-section-down-arrow-animation 1.5s ease-in-out infinite paused;
}
/* <for stream section */
/* for about me section> */
.about-me-section-middle-wrapper .texts{
    width: 60%;
    row-gap: 2.5vh;
}
.about-me-ul{
    width: 32%;
}
.about-me-li{
    padding: 0.7em;
    column-gap: 5px;
}
.about-me-section-bottom-wrapper{
    grid-template: max-content / repeat(4, 25%);
}
.about-me-section-bottom-wrapper .about-me-static{
    padding: 1em 5px;
}
.about-me-section-bottom-wrapper .about-me-static:not(:last-child){
    border-right: 1px solid var(--common-title-background-text-color);
}
/* <for about me section */
/* for resume section> */
.resume-middle-wrapper{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}
.resume-middle-column{
    row-gap: 3vh;
}
.resume-card{
    row-gap: 1.3em;
    padding: 1.2em;
    border-radius: 0.5em;
    background-color: var(--resume-card-background-color);
    box-shadow: var(--common-title-background-text-color) 0px 0px 7px 0px;
}
.resume-card .date{
    width: max-content;
    padding: 0.5em;
    background-color: var(--primary-red);
    border-radius: 0.5em;
}
.resume-bottom-wrapper{
    row-gap: 4vh;
}
.resume-skills-wrapper{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 4vh;
}
.resume-one-skill-wrapper{
    row-gap: 1em;
}
.resume-skill-wrapper-texts{
    padding:0 0.5em;
} 
.outer-line{
    width: 100%;
    height: 15px;
    background-color:var(--resume-card-background-color);
    border-radius: 10px;
    overflow: hidden;
}
.inner-line{
    height: 100%;
    background-image: linear-gradient(to right, var(--resume-card-background-color) 5%, var(--primary-red));
}
.resume-one-skill-wrapper:nth-child(1) .inner-line{
    width: 70%;
}
.resume-one-skill-wrapper:nth-child(2) .inner-line{
    width: 5%;
}
.resume-one-skill-wrapper:nth-child(3) .inner-line{
    width: 5%;
}
.resume-one-skill-wrapper:nth-child(4) .inner-line{
    width: 10%;
}
/* <for resume section */
/* for my works section> */
.my-works-wrapper{
    row-gap: 6vh;
}
.my-works-nav{
    column-gap: 1em;
}
.my-works-nav-ul{
    column-gap: 1em;
}
.my-works-nav-li h3{
    padding: 0.2em 0.4em;
    transition: all 0.2s;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.my-works-nav-li h3:hover{
    color: var(--primary-red);
}
.my-works-list{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4vh;
    row-gap: 4vh;
}
.my-works-card-wrapper{
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid transparent;
}
.my-works-card-wrapper:hover{
    border: 1px solid var(--primary-red);
    transition: all 0.4s linear;
}
.my-works-card-wrapper img{
    width: 100%;
    height: 100%;
}
.my-works-card-content-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: var(--primary-text-color);
    opacity: 0;
    cursor: pointer;
    transition: all 0.4s linear;
}
.my-works-card-content-wrapper:hover{
    opacity: 1;
    background-color: #292e34e4;
}
.my-works-card-wrapper{
    display: none;
}
.my-works-card-wrapper.active{
    display: block;
}
/* <for my works section */
/* for contact section> */
.contact-info-wrapper{
    row-gap: 3.5vh;
}
.addresses{
    row-gap: 1vh;
}
.contact-address-ul li{
    padding: 0.5em;
    column-gap: 1em;
}
.contact-address-ul li:hover{
    border-color: var(--primary-red);
    transition: all 0.2s linear;
}
.contact-address-ul li:hover > svg{
    fill: var(--primary-red);
    transform: scale(1.1);
}
.follow-me{
    row-gap: 2vh;
}
.contact-socials-ul{
    width: 80%;
    justify-content: space-between;
}
.contact-socials-ul li{
    position: relative;
    padding: 0.5em;
}
.contact-socials-ul li:hover svg{
    transform: scale(1.2);
    fill: var(--primary-red);
}
.contact-socials-ul li:hover .header-icon-description{
    opacity: 1;
}
.contact-right-part{
    width: 65%;
    row-gap: 3vh;
}
.contact-form{
    row-gap: 3vh;
}
.contact-right-part form input, .contact-right-part form textarea{
    border-radius: 8px;
    border: none;
    background-color: var(--first-type-section-background-color);
}
.contact-right-part form input:focus, .contact-right-part form textarea:focus{
    outline: 1px solid var(--primary-red);
}
.contact-right-part form input{
    padding: 1.2em 1em;
}
.contact-right-part form textarea{
    height: 100%;
    padding: 1em 1em;
}
.contact-inputs-wrapper{
    grid-template: minmax(1fr, 55px) 3fr / repeat(2, 1fr);
    gap: 20px;
}
.message-content{
    grid-column: 1 / 3;
    resize: vertical;
}
/* <for contact section */
/* for animations> */
@keyframes introduction-section-down-arrow-animation{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        fill: var(--primary-red);
        transform: translateY(60px);
    }
}
@keyframes typing-animation{
    from{
        width: 0;
    }
    to{
        width: 107%;
    }
}
@keyframes cursor-animation{
    0%{
        border-color: var(--primary-text-color);
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: var(--primary-text-color);
    }
}
@keyframes typing-text-alter{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}
/* <for animations */